name: Create and validate genesis for gentx
on:  # yamllint disable-line rule:truthy
  pull_request:
  push:
    branches:
      - main
      - master

jobs:
  dydx-testnet-2:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v3
      - name: Validate genesis for gentx
        run: make validate-dydx-testnet-2-gentx
      - uses: actions/upload-artifact@v3
        with:
          name: genesis.new.json
          path: dydx-testnet-2/genesis.new.json
          if-no-files-found: error